@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.projectsSection {
    background-color: rgb(14 14 14);
    color: white;
    padding: 2rem;
    margin-top: 80px;
}

.projectsSection h2 {
    font-family: "Lemon/Milk", sans-serif;
    font-weight: bold;
    font-size: clamp(2.5rem, 5vw, 4rem);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 3px;
}

.projectsSection ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projectsSection li {
    font-size: 1.5rem;
    color: white;
    position: relative;
    padding: 1rem;
    background-color: rgb(49, 50, 54);
    border: 2px solid rgb(49, 50, 54);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
   
}

.projectsSection li:hover {
    background-color: rgb(30, 30, 30);
    transform: scale(1.01);  /* Reduce from 1.1 to 1.05 to prevent overflow */
    transition: transform 0.2s ease;  /* Slightly faster transition */
    border: 2px solid rgb(86 111 194);
    box-shadow: 0 8px 16px rgb(86 111 194);
}


.projectsSection li p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0.5rem;
    line-height: 1.4;
}

.projectsSection li::before {
    content: "\2022";
    color: #00ff99;
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

