#blob {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00ff99, #006aff);
    filter: blur(40px);
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out; /* Helps with subtle smoothness */
  }
  
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }