@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


.contentBox {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 80%;  /* Ensure content box doesn't stretch too wide */
    background-color: rgb(30, 30, 30);  /* Dark background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.aboutContent h2 {
    font-family: "Lemon/Milk", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #00ff99;
}

.aboutContent p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;
}

.aboutContent ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
}

.aboutContent ul li {
    margin-bottom: 0.8rem;
}

.aboutContent a {
    color: #00ff99;
    text-decoration: none;
    transition: color 0.3s ease;
}

.aboutContent a:hover {
    color: white;
}

