@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --background: black;
    --primary-color: #292d31;
    --secondary-color: #566fc2;
    --accent-color: #32745e;
    --text-color: white; 
    --icon-color: cyan;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 50vh;
    margin-bottom: 20px;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input { 
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
    
    transition: box-shadow 0.3s ease;
}

#todo-input:focus {
    outline: none;
    box-shadow: 0 0 15px var(--secondary-color);
    transition: box-shadow 0.3s ease;
}
form {
    position: relative;
}
#add-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--secondary-color);
    height: 100%;
    padding: 0 30px;
    border: 2px solid var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

#add-button:hover {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
}

.todo-text {
    color: white;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: fill 0.8s ease;
}

.delete-button:hover svg{
    fill: red;
    transition: fill 0.3s ease;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.custom-checkbox svg {
    transition: fill 0.3s ease;
}

.custom-checkbox:hover svg {
    fill: var(--accent-color);
    transition: fill 0.3s ease;
}
input[type="checkbox"] ~ .custom-checkbox {
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    transition: background-color 0.3s ease;
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    transition: fill 0.5s ease;
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
    transition: fill 0.5s ease;
}

input[type="checkbox"] ~ .todo-text {
    transition: color 0.5s ease;
}

input[type="checkbox"]:checked ~ .todo-text {
    text-decoration: line-through;
    color: var(--accent-color);
    transition: color 0.5s ease;
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 500px){
    html{
        font-size: 12pt;
    }

    #add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 25px;
        font-size: 15vw;
    }
}