@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


.appsSection {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: center;
    color: white;
}

.appsList {
    display: flex;
    justify-content: space-between; /* Separates items to left and right */
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
    gap: 2rem; /* Adds spacing between items */
}

.appItem {
    background-color: rgb(30, 30, 30);
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid #00ff99;
    width: 100%;
    max-width: 500px;
    text-align: left;
    flex: 1; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.appItem:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(86 111 194);
    border-color: #566fc2;
}

.appItem h3 {
    font-family: "Lemon/Milk", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.appItem  p {
    font-size: 1.2rem;
    margin: 0;
}

.appItem  a {
    color: rgb(177, 220, 245);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.appItem  a:hover {
    color: #00ff99;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .contactDetails {
        flex-direction: column;
    }

    .contactItem {
        width: 80%;
    }
}

.contactDetails .contactItem:not(#collab) {
    max-width: 45%; /* Keeps the other items on the left side */
}


#collab {
    text-align: left; /* Aligns content inside this box to the left */
    max-width: 45%; /* Prevents it from taking too much space */
}
