@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

:root {
    overflow-x: hidden;

}

.background {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #272727;
    overflow: hidden;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 26;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -20;
    margin: 0;
    padding: 0;
}


.background span:nth-child(0) {
    color: #1993f0;
    top: 25%;
    left: 72%;
    animation-duration: 47s;
    animation-delay: -177s;
    transform-origin: 25vw -11vh;
    box-shadow: -100vmin 0 13.433503667950975vmin currentColor;
}
.background span:nth-child(1) {
    color: #19d2bc;
    top: 77%;
    left: 34%;
    animation-duration: 12s;
    animation-delay: -108s;
    transform-origin: -16vw -18vh;
    box-shadow: 100vmin 0 12.582780849562617vmin currentColor;
}
.background span:nth-child(2) {
    color: #a41ce3;
    top: 90%;
    left: 16%;
    animation-duration: 182s;
    animation-delay: -233s;
    transform-origin: -1vw 5vh;
    box-shadow: 100vmin 0 13.1474521494342vmin currentColor;
}
.background span:nth-child(3) {
    color: #a41ce3;
    top: 87%;
    left: 43%;
    animation-duration: 176s;
    animation-delay: -172s;
    transform-origin: 2vw -22vh;
    box-shadow: -100vmin 0 12.835938790778542vmin currentColor;
}
.background span:nth-child(4) {
    color: #a41ce3;
    top: 93%;
    left: 6%;
    animation-duration: 245s;
    animation-delay: -170s;
    transform-origin: 21vw -16vh;
    box-shadow: -100vmin 0 13.184591582588796vmin currentColor;
}
.background span:nth-child(5) {
    color: #19d2bc;
    top: 95%;
    left: 47%;
    animation-duration: 144s;
    animation-delay: -180s;
    transform-origin: -5vw 16vh;
    box-shadow: 100vmin 0 12.674617957632574vmin currentColor;
}
.background span:nth-child(6) {
    color: #a41ce3;
    top: 56%;
    left: 15%;
    animation-duration: 218s;
    animation-delay: -95s;
    transform-origin: -24vw 6vh;
    box-shadow: 100vmin 0 12.520853592112127vmin currentColor;
}
.background span:nth-child(7) {
    color: #19d2bc;
    top: 57%;
    left: 26%;
    animation-duration: 118s;
    animation-delay: -19s;
    transform-origin: 1vw -3vh;
    box-shadow: -100vmin 0 13.161935719137023vmin currentColor;
}
.background span:nth-child(8) {
    color: #a41ce3;
    top: 50%;
    left: 12%;
    animation-duration: 112s;
    animation-delay: -114s;
    transform-origin: -10vw -12vh;
    box-shadow: 100vmin 0 12.684715670325634vmin currentColor;
}
.background span:nth-child(9) {
    color: #a41ce3;
    top: 14%;
    left: 28%;
    animation-duration: 231s;
    animation-delay: -30s;
    transform-origin: 8vw -22vh;
    box-shadow: 100vmin 0 12.760657775954204vmin currentColor;
}
